body {
    font-family: 'Segoe UI', sans-serif;
    background: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    background-image:
        url("data:image/svg+xml;utf8,\
        <svg xmlns='http://www.w3.org/2000/svg' width='80' height='80'>\
            <text x='10' y='25' font-size='30' fill='rgba(255,255,255,0.06)' font-family='sans-serif'>X</text>\
            <text x='40' y='65' font-size='30' fill='rgba(255,255,255,0.06)' font-family='sans-serif'>O</text>\
        </svg>");
    background-size: 120px 120px;
}

h1 {
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.cell:hover {
    background: #333;
}

.playerX {
    color: #79A7FF;
}

.playerO {
    color: #FF7CA8;
}

#status {
    margin-top: 20px;
    font-size: 1.2rem;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #444;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: #666;
}

.announcer {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: #535353;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 1000;
    
    /* Começa invisível */
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.4s ease;
}

/* Quando aparecer */
.announcer.show {
    transform: translateY(0);
    opacity: 1;
}

.hide {
    display: none;
}
